@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-bold: 600;
  --font-regular: 400;
  --grass: rgba(95, 189, 88, 1);
  --bug: rgba(146, 188, 44, 1);
  --dark: rgba(89, 87, 97, 1);
  --dragon: rgba(12, 105, 200, 1);
  --electric: rgba(242, 217, 78, 1);
  --fairy: rgba(238, 144, 230, 1);
  --fighting: rgba(211, 66, 95, 1);
  --fire: rgba(220, 135, 47, 1);
  --flying: rgba(161, 187, 236, 1);
  --ghost: rgba(95, 109, 188, 1);
  --ground: rgba(218, 124, 77, 1);
  --psychic: rgba(117, 208, 193, 1);
  --steel: rgba(86, 149, 163, 1);
  --water: rgba(83, 157, 223, 1);
  --poison: rgba(183, 99, 207, 1);
  --normal: rgba(160, 162, 159, 1);
  --rock: rgba(163, 140, 33, 1);
  --ice: rgba(117, 208, 193, 1);
  --text-dark: #1d293f;
  --text-light: #99a3ad;
  --bg-red: #c82e19;
  --bg-dark: #0d131a;
  --white: #fff;
  --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --radius-20: 1.25rem;
  --radius-8: 0.5rem;
  --radius-4: 0.25rem;
  --space-8: 0.5rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
}

/* basic styles  */
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  width: 86vw;
  margin: 0 auto;
}

/* header  */
.header {
  margin: 2rem 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav-item {
  text-decoration: none;
  list-style: none;
}

.title {
  font-family: var(--font-poppins);
  color: var(--text-dark);
}

.nav-logo {
  display: block;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: var(--font-bold);
}

.center-text {
  display: flex;
  justify-items: center;
  align-items: center;
  border: 0.125rem solid black;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

/* main-cont */
.poke-cards-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 2rem 0 4rem 0;
  column-gap: 2rem;
  row-gap: 2rem;
}

.poke-card {
  width: 16rem;
  height: 19rem;
  border-radius: var(--radius-8);
  background: gold;
  padding: 1rem;
}

.poke-card:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.poke-show {
  position: relative;
  text-align: center;
  width: 100%;
  height: 40%;
  background: url(./assets/poke-show-back.svg);
  background-size: cover;
}

.poke-id {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1.2rem;
  font-weight: var(--font-bold);
  color: var(--text-dark);
}

.poke-id::before{
  content: '#'
}

.poke-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%) scale(1);
  height: 78%;

  animation: jump 4s ease-in-out infinite;
}

@keyframes jump {
  0% {
    transform: translate(-50%, -40%) scale(1);
  }
  50% {
    transform: translate(-50%, -60%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -40%) scale(1);
  }
}

.poke-gen {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.6rem;
  font-weight: var(--font-bold);
  width: 1.5rem;
  height: 1rem;
  background: white;
  border-radius: var(--radius-8);
}

.poke-dets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  
}

.poke-name {
  text-transform: capitalize;
  font-weight: var(--font-bold);
  font-size: 0.75rem;
}

.poke-types {
  font-size: 0.75rem;
}

.poke-likes {
  text-align: right;
}

.heart-icon-cont {
  position: relative;
  text-align: center;
  margin-left: auto;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
  background: white;
}

.like-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

.likes-count {
  font-weight: var(--font-regular);
  font-size: 0.5rem;
  color: var(--text-light);
  margin-top: 0.3rem;
}

.com-btn,
.res-btn {
  display: block;
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: var(--radius-4);
  font-weight: var(--font-bold);
  letter-spacing: 0.15rem;
  color: white;
}

.com-btn{
  background: var(--bg-red);
}

.res-btn {
  margin-top: 0.5rem;
  background: var(--bg-dark);
}

/* footer */
.footer {
  height: 5rem;
  border-top: 1px solid var(--dark);
  border-bottom: 1px solid var(--dark);
  display: flex;
  align-items: center;
}

.footer p {
  color: var(--dark);
}
