@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-bold: 600;
  --grass: rgba(95, 189, 88, 1);
  --bug: rgba(146, 188, 44, 1);
  --dark: rgba(89, 87, 97, 1);
  --dragon: rgba(12, 105, 200, 1);
  --electric: rgba(242, 217, 78, 1);
  --fairy: rgba(238, 144, 230, 1);
  --fighting: rgba(211, 66, 95, 1);
  --fire: rgba(220, 135, 47, 1);
  --flying: rgba(161, 187, 236, 1);
  --ghost: rgba(95, 109, 188, 1);
  --ground: rgba(218, 124, 77, 1);
  --psychic: rgba(117, 208, 193, 1);
  --steel: rgba(86, 149, 163, 1);
  --water: rgba(83, 157, 223, 1);
  --poison: rgba(183, 99, 207, 1);
  --normal: rgba(160, 162, 159, 1);
  --rock: rgba(163, 140, 33, 1);
  --ice: rgba(117, 208, 193, 1);
  --text-dark: #1d293f;
  --bg-red: #c82e19;
  --bg-dark: #0d131a;
  --white: #fff;
  --box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --radius-20: 1.25rem;
  --radius-8: 0.5rem;
  --space-8: 0.5rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
}

/* basic styles  */
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  width: 86vw;
  margin: 0 auto;
}

/* header  */
.header {
  margin: 2rem 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav-item {
  text-decoration: none;
  list-style: none;
}

.title {
  font-family: var(--font-poppins);
  color: var(--text-dark);
}

.nav-logo {
  display: block;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: var(--font-bold);
}

.center-text {
  display: flex;
  justify-items: center;
  align-items: center;
  border: 0.125rem solid black;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
